<!-- MEBKM:TITLE:(title);URL:(url);; -->
<{if $block.usepopup}>
<style>
div#qrpopupbkm
{
	display:none;
	left:40px;
	top:40px;
	position:fixed;
	background-color: #ffffff;
	border-style: solid;
	border-width: thin;
	border-color: #888888;
	border-radius: 10px;
	z-index: 9m999;
	box-shadow: 10px 10px 5px #888888;
}
img#qrmebkm
{
	margin: 4em;
	margin-top: 2em;
}
</style>
<div id="qrpopupbkm" onclick="hideQRPopUpBkm();" title="<{$block.popupclose}>">
<img src="<{$block.imagedir}>/close.png" alt="<{$block.popupclose}>" style="float:right;padding:6px;"><br style="clear:right;" />
<img id="qrmebkm" src="<{$block.imagedir}>/blank.png" alt="<{$block.alt}>" title="<{$block.alt}>">
</div>
<a href="javascript:void(0);" onclick="showQRPopUpBkm();" <{if $block.mouseover}> onmouseover="showQRPopUpBkm();" onmouseout="hideQRPopUpBkm();" <{/if}>><img src="<{$block.imagedir}>/bookmark.png" style="vertical-align:middle;" alt="<{$block.popupprompt}>" title="<{$block.popupprompt}>"> <{$block.popupprompt}></a>
<script>
function showQRPopUpBkm() {
	var title=encodeURIComponent(document.title);
	//var url="<{$block.url}>";
	var url=encodeURIComponent(window.location);
	var imgsrc="<{$block.qrscript}>MEBKM:TITLE:"+title+";URL:"+url+";;";
	var e = document.getElementById('qrmebkm');
	if(e.src!=imgsrc) e.src=imgsrc;
	document.getElementById('qrpopupbkm').style.display="block";
}
function hideQRPopUpBkm() {
	document.getElementById('qrpopupbkm').style.display="none";
}
</script>
<{else}>
<img id="qrmebkm" src="<{$block.imagedir}>/blank.png" alt="<{$block.alt}>" title="<{$block.alt}>">
<script>
	var title=encodeURIComponent(document.title);
	//var url="<{$block.url}>";
	var url=encodeURIComponent(window.location);
	var imgsrc="<{$block.qrscript}>MEBKM:TITLE:"+title+";URL:"+url+";;";
	var e = document.getElementById('qrmebkm');
	e.src=imgsrc;
</script>
<{/if}>

