<{if $block.usepopup}>
<style>
div#qrpopup
{
	display:none;
	left:40px;
	top:40px;
	position:fixed;
	background-color: #ffffff;
	border-style: solid;
	border-width: thin;
	border-color: #888888;
	border-radius: 10px;
	z-index: 9999;
	box-shadow: 10px 10px 5px #888888;
}
img#qrimage
{
	margin: 4em;
	margin-top: 2em;
}
</style>
<div id="qrpopup" onclick="hideQRPopUp();" title="<{$block.popupclose}>">
<img src="<{$block.imagedir}>/close.png" alt="<{$block.popupclose}>" style="float:right;padding:6px;"><br style="clear:right;" />
<img id="qrimage" src="<{$block.imagedir}>/blank.png" alt="<{$block.alt}>" title="<{$block.alt}>">
</div>
<a href="javascript:void(0);" onclick="showQRPopUp();" <{if $block.mouseover}> onmouseover="showQRPopUp();" onmouseout="hideQRPopUp();" <{/if}>><img src="<{$block.imagedir}>/bookmark.png" style="vertical-align:middle;" alt="<{$block.popupprompt}>" title="<{$block.popupprompt}>"> <{$block.popupprompt}></a>
<script>
function showQRPopUp() {
	var title=encodeURIComponent(document.title);
	var imgsrc="<{$block.qrscript}><{$block.qrdata}>";
	var e = document.getElementById('qrimage');
	if(e.src!=imgsrc) e.src=imgsrc;
	document.getElementById('qrpopup').style.display="block";
}
function hideQRPopUp() {
	document.getElementById('qrpopup').style.display="none";
}
</script>
<{else}>
<{$block.qrcode}>
<{/if}>
